{% extends 'base.html' %}

{% block titulo %}Página Principal{% endblock %}

{% block conteudo %}

<div class="text-center">

    <h1 class="display-4">Olá, {{ current_user.username }}!</h1>

    <div class="my-4">
        <video controls autoplay class="img-fluid rounded" style="max-height: 90vh; max-width: 100%;">
            <source src="{{ url_for('static', filename='videos/Assistiria.mp4') }}" type="video/mp4">
            Seu navegador não suporta vídeos HTML5.
        </video>
    </div>
    
    <p class="lead">Você está logado no sistema.</p>
    
    <div class="mt-4">
        {% if current_user.role == 'admin' %}
            <br>
            <a href="{{ url_for('auth.lista_usuarios') }}" class="btn btn-info">Painel de Usuários</a><br>
            <h1> Botão Painel de Usuários para administradores</h1>
        {% endif %}
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Deslogar</a>
    </div>

</div>

{% endblock %}