{% extends 'base.html' %}

{% block titulo %}Página Principal{% endblock %}

{% block conteudo %}
    <h1 class="display-4">Olá, {{ current_user.username }}!</h1>
    <p class="lead">Você está na área protegida do sistema.</p>
<div class="mt-4">
    {% if current_user.role == 'admin' %}
        <a href="{{ url_for('auth.lista_usuarios') }}" class="btn btn-info">Painel de Usuários</a>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Deslogar</a>
</div>
{% endblock %}